.header__logo {
  width: 85px;

  @include tablet {
    width: 170px;
  }
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include tablet-large {
    justify-content: space-between;
  }
}

.header__buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $background-color;
  box-shadow: 0 3px 6px #00000029;
}

.header__inner {
  padding-bottom: 18px;
  padding-top: 18px;

  @include tablet {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
