section.article
    .container-md
        .article__img(data-scrollspy="animate__fadeInLeft")
            img(
                src="img/humans.svg"
                alt="Nurse and woman in wheelchair.")
        .article__content
            h2.article__title(data-scrollspy="animate__fadeInRight") Could you be our new Care Assistant?
            p.article__text(data-scrollspy="animate__fadeInRight") Our Care Assistants may not wear capes, but they certainly wear their uniforms with pride. At Help at Home, we’re hiring Care Assistants to help us deliver our excellent care services across Leicestershire’s communities. Start your rewarding new career today by helping make a difference to the lives of our customers within the comfort of their own home.
            .article__buttons(data-scrollspy="animate__fadeInRight")
                button.button.button-apply(data-scrollto="#apply") Apply now
                button.button.button-request(data-scrollto="#request") Request a callback
