section.community
    .container
        .community__flex
            .community__img(data-scrollspy="animate__fadeInRight")
                    img(
                        src="img/community.svg"
                        alt="Nurse and oldman.")
            .community__content(data-scrollspy="animate__fadeInLeft")
                h2.community__title Have you got a superpower to share within the community?
                button.button.button-apply(data-scrollto="#form") Apply now

