section.perks
    .container
        h2.perks__title(data-scrollspy="animate__fadeInLeft") Perks and benefits
        div.perks__text(data-scrollspy="animate__fadeInRight")
            ul.perks__list
                li.perks__item Flexible working with competitive pay
                li.perks__item 28 days’ annual leave
                li.perks__item A consistent schedule with regular hours and regular customers Easy, minimal travel required with local, grouped visits
                li.perks__item Continuous training available, including specialist training Open door policy
                li.perks__item Access to C&C’s Lifeworks benefit package, including counselling, Love2Shop vouchers and discounts, and many more perks
