section.advantage 
  .advantage__inner.container
    .advantage-img
        img(src="img/Dan_Green Acre.png" alt="Dan smiles" data-scrollspy="animate__fadeInLeft")
    .advantage-text 
        h2.section-title(data-scrollspy="animate__fadeInRight") Why Style Acre?
        p.advantage-text__info(data-scrollspy="animate__fadeInRight") Our person-centred support ranges from 24-hour care for those with complex learning, health and/ or physical disabilities, to a few hours of support each per week for those who live more independently.
        p.advantage-text__info(data-scrollspy="animate__fadeInRight") No day is ever the same at Style Acre. Work is interesting, fun and at times challenging, but always rewarding!