section.mission
  .mission__inner.container 
    h2.section-title(data-scrollspy="animate__fadeInLeft") Our Mission and Values
    p.mission__info.info__text(data-scrollspy="animate__fadeInRight") Style Acre provides safe and nurturing environments for people with learning disabilities and autism to grow and develop in their own unique way and with the utmost dignity. We recognise and embrace individuality and deliver person-centred care of the highest standard. Our values are important to us, and we use them to recruit, train and manage our staff, and support the people using our services.
    ul.mission-list
      li
        .mission-list__wrap.card-wrap(data-scrollspy="animate__fadeInUp")
          img.mission-list__img(src="img/caring.svg" alt="Caring")
          h5.mission-list__title.card-text Caring
          p.mission__list__text Treating everyone with dignity, compassion and kindness
      li
        .mission-list__wrap.card-wrap(data-scrollspy="animate__fadeInUp")
          img.mission-list__img(src="img/respectful.svg" alt="Respectful")
          h5.mission-list__title.card-text Respectful
          p.mission__list__text At all times and for everyone
      li
        .mission-list__wrap.card-wrap(data-scrollspy="animate__fadeInUp")
          img.mission-list__img(src="img/honesty.svg" alt="Honesty")
          h5.mission-list__title.card-text Honesty
          p.mission__list__text To ensure we develop and maintain trusting relationships
      li
        .mission-list__wrap.card-wrap(data-scrollspy="animate__fadeInUp")
          img.mission-list__img(src="img/ambition.svg" alt="Ambition")
          h5.mission-list__title.card-text Ambition
          p.mission__list__text To ensure people have choice and control and the opportunity to fulfil their potential
      li
        .mission-list__wrap.card-wrap(data-scrollspy="animate__fadeInUp")
          img.mission-list__img(src="img/collaborative.svg" alt="Collaborative")
          h5.mission-list__title.card-text Collaborative
          p.mission__list__text Working with others to achieve our mission and vision
