section.expect-list
  .container 
    h2.section-title(data-scrollspy="animate__fadeInLeft") What to expect
    ul.expectlist 
      li 
        .expectlist-wrap.card-wrap(data-scrollspy="animate__fadeInUp")
          img.expectlist-wrap__img(src="img/persone_care.svg", alt="")
          span.expectlist-wrap__text.card-text Person-centred care
      li 
        .expectlist-wrap.card-wrap(data-scrollspy="animate__fadeInUp")
          img.expectlist-wrap__img(src="img/handshake.svg", alt="")
          span.expectlist-wrap__text.card-text A supportive team
      li 
        .expectlist-wrap.card-wrap(data-scrollspy="animate__fadeInUp")
          img.expectlist-wrap__img(src="img/career.svg", alt="")
          span.expectlist-wrap__text.card-text Career development and progression
      li 
        .expectlist-wrap.card-wrap(data-scrollspy="animate__fadeInUp")
          img.expectlist-wrap__img(src="img/training_plan.svg", alt="")
          span.expectlist-wrap__text.card-text Training Development Plan