section.section-info.container#section-info
  p.infolist__text.info__text(data-scrollspy="animate__fadeInLeft") Style Acre supports people with learning disabilities and autism throughout Oxfordshire. We are looking for incredible, caring and patient Support Workers to join our brilliant team and make a difference to the lives of the people we work with.
  ul.infolist
    li
      .infolist-wrap.card-wrap(data-scrollspy="animate__fadeInUp")
        img.infolist-wrap__img(src="img/checked.svg", alt="checkmark" width="132" height="132")
        span.infolist-wrap__text.card-text Over 35 supported households
    li
      .infolist-wrap.card-wrap(data-scrollspy="animate__fadeInUp")
        img.infolist-wrap__img(src="img/checked.svg", alt="checkmark" width="132" height="132")
        span.infolist-wrap__text.card-text Three community day hubs
    li
      .infolist-wrap.card-wrap(data-scrollspy="animate__fadeInUp")
        img.infolist-wrap__img(src="img/checked.svg", alt="checkmark" width="132" height="132")
        span.infolist-wrap__text.card-text Supporting more than 250 people
    li
      .infolist-wrap.card-wrap(data-scrollspy="animate__fadeInUp")
        img.infolist-wrap__img(src="img/checked.svg", alt="checkmark" width="132" height="132")
        span.infolist-wrap__text.card-text Rated outstanding by the CQC
    li
      .infolist-wrap.card-wrap(data-scrollspy="animate__fadeInUp")
        img.infolist-wrap__img(src="img/checked.svg", alt="")
        span.infolist-wrap__text.card-text 2020 Care Employer of the Year 
