section.slider
    .swiper
        .swiper-wrapper
            .swiper-slide
                +card('Promote independence', 'Helping customers to live as self-sufficient a life as possible')
            .swiper-slide
                +card('Support in the home', 'General day-to-day help around the home, including light chores and cooking')
            .swiper-slide
                +card('Personal care', 'Assisting with washing, bathing and using the toilet')
            .swiper-slide
                +card('Companinoship', 'Accompany customers on social visits, outings and being a friendly face every day')
        .swiper-pagination.slider__pagination