header.header
  .header__inner
    .header__container.container
        .header__logo
          img(
            src="img/logo_acre.png" 
            alt="Logotype Style Acre."
            data-scrollspy="animate__fadeInLeft"
            width="170px")
        .header__buttons
          button.button.button-request(data-scrollto="#request") Request a callback
          button.button.button-apply(data-scrollto="#apply") Apply now
